.container {
    max-width: 820px;
    padding: 10px;
    margin: 0 auto;
    .wrapper {
        display: flex;
        gap: 10px;
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        background-color: #fff;
        height: 600px;
        .steps {
            width: 40%;
        }
        .content  {
            width: 60%;
            padding: 20px;
        }
    }
}

@media(max-width:747px) {
    .container {
        .wrapper {
            display: flex;
            flex-direction: column;
            .steps {
                width: 100%;
            }
            .content  {
                width: 100%;
                padding: 20px;
            }
        }
    }
}
@media(max-width:617px) {
    .container {
        .wrapper {
            height: fit-content;
            
            .content  {
          
                padding: 0;
            }
        }
    }
}